{% extends 'layout.twig' %}

{% block jugar %}Actualizar{% endblock %}

{% block countdown %}

				{% if not fin %}
				<div style="display:inline-block">
				<!-- START COUNTDOWN -->
				<script src="/assets/js/countdown.js" type="text/javascript"></script>
				<script type="application/javascript">

				function countdownComplete(){
				  	location.reload();
				}

				var myCountdownTest = new Countdown({
												 	year	: {{fechafin.year}},
													month	: {{fechafin.month}}, 
													day		: {{fechafin.day}},
													hour	: {{fechafin.hour}},
													minute	: {{fechafin.minute}},
													width	: 450, 
													height	: 150,
													rangeHi  : "day",
													padding  : 0.7, 
													onComplete	: countdownComplete
													});

				</script>
				<!-- END COUNTDOWN -->
				<p>Partida extraoficial!, "last day edition" ver anteriores premiados en sección premios</p>

				</div>
				{% else %}
				<p>Partida terminada</p>
				{% endif %}
{% endblock %}


{% block content %}


	{% if logueado %}

		{% if user.fullname %}

		<div class="md-modal md-effect-11" id="modal-1">
			<div class="md-content">
				<h3></h3>
				<div>
					<div>
					<img class='modal-image' width='200px'src=''/>
					<span class="modal-text"> </span>
					</div>
					<br clear="both"/>
					<button class="md-close">Cerrar descripción</button>
					<button class="md-trigger md-use md-setperspective" data-modal="modal-2">Usar esta vitamina</button>
				</div>
			</div>
		</div>

		<div class="md-modal md-effect-4" id="modal-2">
			<div class="md-content">
				<input type="hidden" id="aplicar_vitamina" value="0"/>
				<h3></h3>
				<div>
					<div></div>
					<br clear="both"/>
					<button class="md-close">Cerrar descripción</button>
				</div>
			</div>
		</div>

		<div class="md-overlay"></div><!-- the overlay element -->

		<div class="container">
			
				<script>
				
					$(document).keypress(function(e) {
					    if(e.which == 13) {
					        $('form').submit();
					    }
					});

					//$('#oculta_aviso').live('click',function(){$('#ataque').hide()});

				</script>

				<!--div id="ataque" style="display:none">
					<br>
					<div id="aviso">
						<div>
							<img src="/assets/img/meme/1.png" width="200px"/>
						</div>
						<div>
							<span style="font-weight:bold;font-size:23px">Jugadorx ha usado "Ira de dios" sobre ti</span>
						</div>
					</div>
					<div>
						<button type="submit" class="btn btn-2 btn-2a" id="oculta_aviso">Ocultar aviso</button>
					</div>
				</div-->

				<form id="form_juego" method="POST" action="/jugar#otravez" >

					{% block presubmit %}
					<h1 style="font-weight:normal">Hola {{ user.fullname }} </h1>
					<p>Rellena este captcha para conseguir puntos</p>
					{% endblock %}
				    {% block captcha %}{% endblock %}

				    <input type="hidden" name="type" value="{{ type }}"/>
				     {% block submit %}
				    <span style="display:block;">
				    	<button id="enviar_captcha" disabled="disabled" type="submit" class="disabled btn btn-2 btn-2a">Validar captcha <span class="timer">5</span></button>
					</span>

					  <p style="font-size:30px">Racha de captchas: <span style="font-size:50px">{{ user.racha }}</span></p>
					    <p>Cada racha de 5 captchas obtendrás una vitamina, con racha de 50 supervitamina!</p>
					    <p>Si llegas a una racha de 500 podrás obtener vitaminas capaces de romper el juego! O_o</p>
					 {% endblock %}
				</form>



				<div id="info_juego">

					<div class="ficha">
						<img style="border-color:{{clancolor}}" class="ficha-img" src="http://1.gravatar.com/avatar/{{user.user_id}}?s=200&d=monsterid&r=G"/>

						<div>Usuario<span class="ficha-titulo">{{ user.fullname }}</span></div>
						<div>Puntuación<span class="ficha-titulo">{{ user.puntos }}</span> </div>
						<div>Posición en ranking<span class="ficha-titulo">{{ranking}}</span> </div>
						<div>Hora del servidor<span class="ficha-titulo">{{horaservidor}}</span> </div>

					</div>
					<!--div><span class="ficha-titulo">Efectos activos</div>

						<div id="efectos" class="">
							{% if not effects %}
								<span>No tienes efectos secundarios</span>
							{% else %}
								<span>Padeces de: </span>
							{% endif %}

						</div-->

					<div><span class="ficha-titulo">Vitaminas disponibles</span> <br/>
						

						<div id="vitaminero" >
							
							{% if not vitaminas %}
								<span>No tienes vitaminas</span>
							{% else %}
								{% for v in vitaminas %}
									<div class="vitaminapack">
										{% set porc = ((v.queda / 60) * 100) /  v.time %}
									<canvas id="gauge{{v.instancia}}" time="{{v.time}}" name="{{ porc }}" class="gauge gauge_cat{{v.categoria}}"></canvas>
									<img class="md-trigger vitamina cat{{v.categoria}}" data-modal="modal-1" title="{{v.nombre}}" name="{{v.vitamina_id}}" id="{{v.instancia}}" src="https://identicons.github.com/{{v.vitamina_id}}.png" width="30px"/>
									
									</div>
								{% endfor %}
							{% endif %}

						</div>

					<div><span class="ficha-titulo">Últimos 5 ataques contra ti</span> <br/>
					
						<div id="efectos" >
							
							{% if not ataques %}
								<span>Nadie te ha atacado aún.</span>
							{% else %}
								<ul id="lista_ataques">
								{% for a in ataques %}
									<li>
										<abbr class="timeago" title="{{a.fecha}}"></abbr>
										<a href="/info/ranking/{{ a.quien_id }}"> {{ a.quien[0:10] }} </a>
										<small>te lanzó </small> 
										<a href="/info#vitamina{{a.vitamina_id}}"><img title="{{a.vitamina}}" name="{{a.vitamina_id}}" src="https://identicons.github.com/{{a.vitamina_id}}.png" width="30px"/> 
										<small>{{a.vitamina[0:50]}}</small> 
										</a>

									</li>


								{% endfor %}
								</ul>
							{% endif %}

						</div>

					</div>
				</div>

			

		</div>




	    {% else %}

	    <form method="POST" action="/login/setNick"  >
			<h2>No hemos encontrado tu correo en la base de datos de participantes de la MurciaLanParty.</h2>
			<p>Para poder jugar necesitas terner un nombre</p>
			<p>Al no ser participante de la MLP no podrás optar a premios, pero podrás jugar como los demás y fastidiarles la racha!</p>

			<input type="text" name="nick" placeholder="Nick/Apodo" id='nick_input'/>

		    <span style="display:block;">
		    	<button type="submit" class="btn btn-2 btn-2a">Guardar Nick</button>
			</span>
		</form>
	   


	    {% endif %}

    {% else %}

    <h2>Necesitas estar logueado para participar en la partida</h2>
    <form style="width: 56%;margin: auto;" method="POST" action="/login">
    	<label for="email">Introduce el correo electrónico con el que te diste de alta en la <b>MurciaLanParty</b>.</label>
    	<input type="email" name="email" placeholder="Correo electrónico" id="login_input"/>
    	<button type="submit" class="btn btn-2 btn-2a">Login</button>
    	<p>Esta página no necesita preguntarte una clave o contraseña, al darnos tu 
    	dirección de correo, la comprobaremos en la base de datos de la Murcia lan party y 
    	te enviaremos un correo con un link para entrar a jugar.</p>
    	<p>Al darnos tu correo de registro en la <b>MurciaLanParty</b>, podremos reconocerte como participante y podrás optar a los premios de la competición.</p>
    	<p>Los usuarios registrados que no sean participantes podrán entrar a jugar sin opción a premio.</p>
    	<p>No hay ningún problema por tener multicuenta para participar</p>
    </form>


    {% endif %}

{% endblock %}