{% extends 'layout.twig' %}



{% block content %}


	{% if logueado %}

		{% if user.fullname %}

		<div class="md-modal md-effect-13" id="modal-1">
			<div class="md-content">
				<h3></h3>
				<div>
					<div>
					<img class='modal-image' width='200px'src=''/>
					<span class="modal-text"> </span>
					</div>
					<br clear="both"/>
					<button class="md-close">Cerrar descripción</button>
					<button class="md-trigger md-use md-setperspective" data-modal="modal-2">Usar esta vitamina</button>
				</div>
			</div>
		</div>

		<div class="md-modal md-effect-4" id="modal-2">
			<div class="md-content">
				<input type="hidden" id="aplicar_vitamina" value="0"/>
				<h3></h3>
				<div>
					<div></div>
					<br clear="both"/>
					<button class="md-close">Cerrar descripción</button>
				</div>
			</div>
		</div>

		<div class="md-overlay"></div><!-- the overlay element -->

		<div class="container">
			
				<script>
				
					$(document).keypress(function(e) {
					    if(e.which == 13) {
					        $('form').submit();
					    }
					});

				</script>

				<form id="form_juego" method="POST" action="/jugar" >

					<h1>Hola {{ user.fullname }} </h1>
					<h2>Rellena este captcha para conseguir puntos</h2>
				    {% block captcha %}{% endblock %}

				    <input type="hidden" name="type" value="{{ type }}"/>

				    <span style="display:block;">
				    	<button type="submit" class="btn btn-2 btn-2a">Validar captcha</button>
					</span>

					  <h2>Racha de captchas: {{ user.racha }} </h2>
					    <p>Cada racha de 10 captchas obtendrás una vitamina, con racha de 50 supervitamina!</p>
					    <p>Si llegas a una racha de 500 podrás obtener vitaminas capaces de romper el juego! O_o</p>
				</form>



				<div id="info_juego">

					<div class="ficha">
						<img class="ficha-img" src="http://1.gravatar.com/avatar/{{user.user_id}}?s=200&d=monsterid&r=G"/>

						<div><span class="ficha-titulo">Usuario</span> {{ user.fullname }}</div>
						<div><span class="ficha-titulo">Puntación</span> {{ user.puntos }}</div>
						<div><span class="ficha-titulo">Posición en ranking</span> {{ranking}}</div>

					</div>
					<div><span class="ficha-titulo">Efectos activos</div>

						<div id="efectos" class="">
							{% if not effects %}
								<span>No tienes efectos secundarios</span>
							{% else %}
								<span>Padeces de: </span>
							{% endif %}

						</div>

					<div><span class="ficha-titulo">Vitaminas disponibles</span> <br/>
						

						<div id="vitaminero" >
							
							{% if not vitaminas %}
								<span>No tienes vitaminas</span>
							{% else %}
								{% for v in vitaminas %}
									
									<img  class="md-trigger vitamina cat{{v.categoria}}" data-modal="modal-1" title="{{v.nombre}}" name="{{v.vitamina_id}}" id="{{v.instancia}}" src="https://identicons.github.com/{{v.vitamina_id}}.png" width="30px"/>


								{% endfor %}
							{% endif %}

						</div>
					
					</div>
				</div>

			

		</div>




	    {% else %}

	    <form method="POST" action="/login/setNick"  >
			<h2>No hemos encontrado tu correo en la base de datos de participantes de la MurciaLanParty.</h2>
			<p>Para poder jugar necesitas terner un nombre</p>
			<p>Al no ser participante de la MLP no podrás optar a premios, pero podrás jugar como los demás y fastidiarles la racha!</p>

			<input type="text" name="nick" placeholder="Nick/Apodo" id='nick_input'/>

		    <span style="display:block;">
		    	<button type="submit" class="btn btn-2 btn-2a">Guardar Nick</button>
			</span>
		</form>
	   


	    {% endif %}

    {% else %}

    <h2>Necesitas estar logueado para participar en la partida</h2>
    <form method="POST" action="/login">
    	<label for="email">Introduce tu correo electrónico</label>
    	<input type="email" name="email" placeholder="Correo electrónico" id="login_input"/>
    	<button type="submit" class="btn btn-2 btn-2a">Login</button>
    	<p style="width: 56%;margin: auto;">
    	Esta página no necesita preguntarte una clave o contraseña, al darnos tu 
    	dirección de correo, la comprobaremos en la base de datos de la Murcia lan party y 
    	te enviaremos un correo con un link para entrar a jugar.</p>
    	<p>Sólo los participantes de la MLP podrán optar a premios</p>
    </form>


    {% endif %}

{% endblock %}